@CHARSET "UTF-8";
body {
    margin:21px;
    font-family: sans-serif;
}

.header {
    width: 500px;
    margin:0px auto;
    padding-left:111px;
    padding-top:20px;
    padding-bottom:20px;
    background:url(icon_128.png) no-repeat;
    background-size:63px;
    font-size:170%;
    font-weight:bold;
}

legend{
	font-weight:bold;
}

.content {
	width:210px;
	margin-top:21px;
	margin-left:480px;
}
.contentExplain{
	font-size:14px;
}
.contentInput{
	width:210px;
}
.contentButton{
	width:210px;
	cursor:pointer;
}
.contentAddButton {
	width:210px;
	cursor:pointer;
}
.contentRemoveButton {
	width:210px;
	cursor:pointer;
}
.example {
	width: 210px;
	margin-top:21px;
	margin-left:480px;
}
.examplExplain{
	font-weight:bold;
}

.donate{
	width:100px;
	height:100px;
	position: absolute;
	right:0px;
	top:200px;
}

.donateButton{
	margin:2px 0px;
	padding-left:20px;
}
.donatePaypal{
	margin:2px 0px;
	display:none;
}
.donatePaypalForm{
	display:none;
}
.donateAlipay{
	margin:2px 0px;
	display:none;
}

.feedback{
	position: absolute;
	right:10px;
	top:600px;
}
