<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br/>
            <h4>Gmail</h4>
            <form role="form">
                <div class="form-group">
                    <input disabled="disabled" type="email" class="form-control" value="example@gmail.com">
                </div>
                <div class="form-group">
                    <input disabled="disabled" type="text" class="form-control" value="Your Password">
                </div>
                <div class="form-group">
                    <input disabled="disabled" type="text" class="form-control" value="imap.gmail.com">
                </div>
                <div class="form-group">
                    <input disabled="disabled" type="text" class="form-control" value="993">
                </div>
            </form>
            <hr/>
            <h4>Yahoo Mail</h4>
            <form role="form">
                <div class="form-group">
                    <input disabled="disabled" type="email" class="form-control" value="example@yahoo.com">
                </div>
                <div class="form-group">
                    <input disabled="disabled" type="text" class="form-control" value="Your Password">
                </div>
                <div class="form-group">
                    <input disabled="disabled" type="text" class="form-control" value="imap.mail.yahoo.com">
                </div>
                <div class="form-group">
                    <input disabled="disabled" type="text" class="form-control" value="993">
                </div>
            </form>
            <hr/>
            <h4>163</h4>
            <form role="form">
                <div class="form-group">
                    <input disabled="disabled" type="email" class="form-control" value="example@163.com">
                </div>
                <div class="form-group">
                    <input disabled="disabled" type="text" class="form-control" value="Your Password">
                </div>
                <div class="form-group">
                    <input disabled="disabled" type="text" class="form-control" value="imap.163.com">
                </div>
                <div class="form-group">
                    <input disabled="disabled" type="text" class="form-control" value="993 or 143">
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
