<div class="container">
    <ul class="nav nav-tabs nav-justified">
        <li class="{{onManage}}"><a href="/manage" ><strong>Manage</strong></a></li>
        <li class="{{onAdd}}"><a href="/add" ><strong>Add One</strong></a></li>
        <li class="{{onExample}}"><a href="/example"><strong>Example</strong></a></li>
        <li class="{{onServer}}"><a href="/server"><strong>Server</strong></a></li>
        <li class="{{onError}}"><a href="/error"><strong>Error Message</strong></a></li>
    </ul>
</div>
